.bar:hover{
    fill: rgb(255, 166, 0);
}

.hoverText {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #f9f3f3;
    border: 2px solid #d6b9a0f2;
    padding: 14px;
    text-align: center;
    font-size: small;
    border-radius: 15px;
  }

.x-axis{
    font-size: small;
}

.y-axis{
    font-size: small;
}

.y-title{
    font-family: inherit;
    font-size: medium;
}

.tooltip{
    font-size: large;
}

.selector{
    min-width: 62.5rem !important;
    max-width: 62.5rem !important;
    padding-bottom: 2rem;
    
}

.MuiInputBase-root{
    max-height: 1.875rem;
}

.MuiFormLabel-root{
    padding-bottom: 0.8rem !important;
    padding-right: 1rem !important;
}

.bar-main{
    padding-bottom: 5.5rem;
    background-color: beige;
    width: 75rem;
    /* border-radius: 100px 20px; */
    border-radius: 25px;
    padding-left: 2.5rem;
}
