.title{
  font-weight:bold;
  font-size: xxx-large;
  /* text-shadow: 3px 3px lightgray; */
}

.main{
  /* background-color: antiquewhite; */
  min-height: 100vh;
  background-color: rgb(190, 190, 141);
  padding-top: 2rem;
}

