.pie-main {
  margin-top: 3rem;
  padding-bottom: 5.5rem;
  background-color: beige;
  width: 75rem;
  border-radius: 25px;
  padding-left: 2.5rem;
}

.pie-selector {
  min-width: 62.5rem !important;
  max-width: 62.5rem !important;
  margin-top: -25.85px !important;
}
